@page "/AccountPayable/VendorClasses"



@attribute [Authorize(AccountPayablePermissions.VendorClasses.Default)]
@using global::HQSOFT.eBiz.AccountPayable.VendorClasses
@using global::HQSOFT.eBiz.AccountPayable.Localization
@using global::HQSOFT.eBiz.AccountPayable.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Components.Web
@using Blazorise
@using Blazorise.Components
@using Blazorise.DataGrid
@using Volo.Abp.BlazoriseUI
@using Volo.Abp.BlazoriseUI.Components
@using Volo.Abp.ObjectMapping
@using Volo.Abp.AspNetCore.Components.Messages
@using Volo.Abp.AspNetCore.Components.Web.Theming.Layout
@using global::HQSOFT.eBiz.AccountPayable.Permissions
@using Microsoft.AspNetCore.Components
@using Volo.Abp.AspNetCore.Components.Web
@using Volo.Abp.Http.Client
@inherits AccountPayableComponentBase
@inject IVendorClassesAppService VendorClassesAppService
@inject IUiMessageService UiMessageService
@inject IRemoteServiceConfigurationProvider RemoteServiceConfigurationProvider
@inject NavigationManager NavigationManager

@* ************************* PAGE HEADER ************************* *@
<PageHeader Title="@L["VendorClasses"]" BreadcrumbItems="BreadcrumbItems" Toolbar="Toolbar">

</PageHeader>

@* ************************* SEARCH ************************* *@
<Card>
    <CardBody>
        <Form id="VendorClassSearchForm" class="mb-3">
            <Addons>
                <Addon AddonType="AddonType.Body">
                    <TextEdit @bind-Text="@Filter.FilterText"
                              Autofocus="true"
                              Placeholder="@L["Search"]">
                    </TextEdit>
                </Addon>
                <Addon AddonType="AddonType.End">
                    <SubmitButton Form="VendorClassSearchForm" Clicked="GetVendorClassesAsync">
                        <Icon Name="IconName.Search" Class="me-1"></Icon>@L["Search"]
                    </SubmitButton>
                </Addon>
            </Addons>
        </Form>
    </CardBody>
</Card>

@* ************************* DATA GRID ************************* *@
<Card>
    <CardBody>
        <DataGrid TItem="VendorClassDto"
                  Data="VendorClassList"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  Responsive="true"
                  PageSize="PageSize">
            <DataGridColumns>
               
               
              <DataGridColumn TItem="VendorClassDto"
                      Field="VendorClassCode"
                      Caption="@L["VendorClassCode"]">
                    <DisplayTemplate>
                        @{
                            <a class="d-block text-left" href="javascript:;" @onclick="() => GoToEditPage(context)">@((context as VendorClassDto).VendorClassCode)</a>
                        }
                    </DisplayTemplate>
              </DataGridColumn>

              <DataGridColumn TItem="VendorClassDto"
                      Field="Description"
                      Caption="@L["Description"]">
              </DataGridColumn>











              <DataGridColumn TItem="VendorClassDto"
                      Field="ReceiptAction"
                      Caption="@L["ReceiptAction"]">
              </DataGridColumn>









































            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

@* ************************* CREATE MODAL ************************* *@
<Modal @ref="CreateVendorClassModal" Closing="@CreateVendorClassModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="CreateVendorClassForm">
            <ModalHeader>
                <ModalTitle>@L["NewVendorClass"]</ModalTitle>
                <CloseButton Clicked="CloseCreateVendorClassModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@NewVendorClassValidations"
                            Mode="ValidationMode.Auto"
                            Model="@NewVendorClass"
                            ValidateOnLoad="false">
                     
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["VendorClassCode"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewVendorClass.VendorClassCode"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Description"] *</FieldLabel>
                            <TextEdit @bind-Text="@NewVendorClass.Description"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>












                    <Validation>
                        <Field>
                            <FieldLabel>@L["ReceiptAction"]</FieldLabel>
                            <TextEdit @bind-Text="@NewVendorClass.ReceiptAction"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>










































                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseCreateVendorClassModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateVendorClassForm" Clicked="CreateVendorClassAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>

@* ************************* EDIT MODAL ************************* *@
<Modal @ref="EditVendorClassModal" Closing="@EditVendorClassModal.CancelClosingModalWhenFocusLost">
    <ModalContent Centered="true">
        <Form id="EditVendorClassForm">
            <ModalHeader>
                <ModalTitle>@L["Update"]</ModalTitle>
                <CloseButton Clicked="CloseEditVendorClassModalAsync" />
            </ModalHeader>
            <ModalBody>
                <Validations @ref="@EditingVendorClassValidations"
                            Mode="ValidationMode.Auto"
                            Model="@EditingVendorClass"
                            ValidateOnLoad="false">
                     
                    
                    <Validation>
                        <Field>
                            <FieldLabel>@L["VendorClassCode"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingVendorClass.VendorClassCode"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>


                    <Validation>
                        <Field>
                            <FieldLabel>@L["Description"] *</FieldLabel>
                            <TextEdit @bind-Text="@EditingVendorClass.Description"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>












                    <Validation>
                        <Field>
                            <FieldLabel>@L["ReceiptAction"]</FieldLabel>
                            <TextEdit @bind-Text="@EditingVendorClass.ReceiptAction"  >
                                <Feedback>
                                    <ValidationError />
                                </Feedback>
                            </TextEdit>
                        </Field>
                    </Validation>










































                    
                    
                </Validations>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary"
                        Clicked="CloseEditVendorClassModalAsync">
                    @L["Cancel"]
                </Button>
                <SubmitButton Form="CreateVendorClassForm" Clicked="UpdateVendorClassAsync" />
            </ModalFooter>
        </Form>
    </ModalContent>
</Modal>
